
<!DOCTYPE html>
<html lang="pt">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Purple Informática</title>

	<!-- Bootstrap core CSS -->
	<link href="bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet">

	
	<!-- Bootstrap core JavaScript -->
	<script src="jquery-3.3.1-dist/jquery-3.3.1.js"></script>
	<script src="bootstrap-4.0.0-dist/js/bootstrap.bundle.js"></script>
	<!-- meus estilos -->
	<link href="css/estilos.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/font/fa-solid.css">
	<link rel="stylesheet" type="text/css" href="css/font/fontawesome.css">
	<link rel="stylesheet" type="text/css" href="css/font/fa-brands.css">

	<!-- css menu -->
	<link href="css/grayscale.css" rel="stylesheet">

</head>
<style type="text/css">
	
	ul{  }
	



</style>
<body style="background-color: white;">


	<div style="margin-top: 100px;" class="container">
		
		<ul>
			computadores
			<li>computadores gamers</li>
			<li >computadores home</li>
		</ul>
		<ul>
			mouse
			<li>mouse com fio</li>
			<li>mouse sem fio</li>
			<li>mouse gamer</li>
		</ul>

	</div>

	<!-- Custom scripts for this template -->
	<script src="js/grayscale.js"></script>

</body>

</html>
